@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HeyU</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="~/HayU/assets/css/style.css">
  <link rel="stylesheet" href="~/HayU/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/HayU/assets/css/all.min.css">
</head>

<body>
<!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-transparent w-100 position-absolute d-none d-lg-block ">
    <div class="container-xxl p-0">
      <a class="navbar-brand text-light ms-3 ms-xxl-0" href="#">
        <img src="~/HayU/assets/img/logo/hey_u.webp " class="logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end me-3 me-xxl mt-3" id="navbarSupportedContent">
        <ul class="navbar-nav me-right mb-2 mb-lg-0 float-end ">
          <li class="nav-item">
            <a class="nav-link active text-light pe-4" aria-current="page" href="#">
              <p>About</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light pe-4" href="#">
              <p>FAQ</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light pe-4" href="#">
              <p>SUPPORT</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light " href="#">
              <p>BLOG</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar offcanvasnavbar1 d-lg-none ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="~/HayU/assets/img/logo/hey_u.webp " class="logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h4 class="offcanvas-title" id="offcanvasNavbarLabel">HeyU</h4>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">FAQ</a>
              <a class="nav-link" href="#">SUPPORTS</a>
              <a class="nav-link" href="#">BLOGS</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
<!-- Navbar End-->
<!-- Simple -->
  <section>
    <div class="container-fluid p-0 ">
      <div class="back mb-5">
        <div class="container-xxl">
          <div class="row w-100">
            <div class="col-lg-7 d-flex align-items-center justify-content-lg-center ps-lg-5 mt-lg-0 mt-5 pt-lg-0 pt-5">
              <div class="heynav text-white ms-sm-5">
                <h1 class="fontsizech "><b>Simple, safe , stagging
                    & beautiful.</b></h1>
                <p class="withheyu">With <b>HeyU</b>, you'll get fast, simple, secure messaging!</p>
                <div class="d-flex justify-content-center  mt-5 justify-content-lg-start ">
                  <div class="downloadbtnmain bg-white">
                    <button type="button" class="btn  bg-light  downloadbtn"><b>Download now</b></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5  phoneimg d-flex justify-content-lg-start justify-content-center">
              <img src="~/HayU/assets/img/imgs/i_phone_7_silver.webp" class="ms-lg-0 ms-sm-5" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Simple End-->
  <!-- Easy Messaging -->
  <section>
    <div class="container-fluid easymsg ">
      <div class="container-xxl">
        <div class="row flex-wrap-reverse gap-5">
          <div class="col-lg-6  d-flex justify-content-center justify-content-xxl-start justify-content-lg-end p-3 pb-0 p-lg-0 ">
            <img src="~/HayU/assets/img/imgs/group_3.webp" class="groupimg" alt="">
          </div>
          <div class="col-lg-5  d-flex flex-column justify-content-center ps-3 ps-lg-5  pt-3 pt-lg-5">
            <h1 class="easymsg1"><b>Easy Messaging</b><span class="dotcolor"><b>.</b></span> </h1>
            <p class="content ">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex ea commodo consequat.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Easy Messaging End-->
  <!-- Keep in touch -->
  <section>
    <div class="container-fluid  m-0 p-0">
      <div class="container-xxl">
        <div class="row justify-content-evenly  w-100 m-0">
          <div class="col-lg-6 ps-5 ps-xxl-0 d-flex align-items-center justify-content-center keepin ">
            <div class="ps-lg-5 ms-lg-5">
              <h1 class="easymsg1"><b> Keep in touch</b><span class="dotcolor"><b>.</b></span></h1>
              <p class="content ">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.
              </p>
            </div>
          </div>
          <div class="col-lg-6 d-flex justify-content-center justify-content-xxl-end">
            <img src="~/HayU/assets/img/imgs/group_2.webp" class="groupimg1 pe-3" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Keep in touch End-->
  <hr class="lin">
  <!-- What people say -->
  <section>
    <div class="container-fluid my-5  ">
      <div class="container-xxl">
        <div class="row justify-content-center">
          <h1 class="easymsg1 text-center"><b>What people say</b><span class="dotcolor"><b>.</b></span></h1>
          <div class="col-lg-4 col-md-6 mb-lg-5 mb-0 d-flex justify-content-center ">
            <div >
              <div class="mt-lg-5 mt-3 dolor position-relative px-3 py-2 ">
                <p><i>Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore
                    magna aliqua. Ut enim ad minim</i> </p>
                <a class="text-decoration-none">
                  <h6 class="linkcom pb-2">Booking.com</h6>
                </a>
                <span class=" position-absolute trianglebtm"></span>
              </div>
              <div class=" d-flex">
                <img src="~/HayU/assets/img/imgs/john doe 1.webp" class="john my-5 " alt="">
                <div class="name my-5 mx-3">
                  <p>john doe<br>
                    <span class="ceo">CEO</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg-5 mb-0 d-flex justify-content-center ">
            <div >
              <div class="mt-lg-5 mt-3 dolor position-relative px-3 py-2 ">
                <p><i>Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore
                    magna aliqua. Ut enim ad minim</i> </p>
                <a  class="text-decoration-none">
                  <h6 class="linkcom pb-2">Airnbnb</h6>
                </a>
                <span class=" position-absolute trianglebtm"></span>
              </div>
              <div class=" d-flex">
                <img src="~/HayU/assets/img/imgs/john doe 1.webp" class="john my-5 " alt="">
                <div class="name my-5 mx-3">
                  <p>john doe<br>
                    <span class="ceo">CEO</span>
                  </p>

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-lg-5 mb-0  d-flex justify-content-center ">
            <div>
              <div class="mt-lg-5 mt-3 dolor position-relative px-3 py-2">
                <p> <i>Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore
                    magna aliqua. Ut enim ad minim</i></p>
                <a href="" class="text-decoration-none">
                  <h6 class="linkcom pb-2">Symu.co</h6>
                </a>
                <span class=" position-absolute trianglebtm"></span>
              </div>
              <div class=" d-flex">
                <img src="~/HayU/assets/img/imgs/john doe 1.webp" class="john my-5 " alt="">
                <div class="name my-5 mx-3">
                  <p>john doe<br>
                    <span class="ceo">CEO</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </section>
  <!-- What people say End-->
  <!-- Start conversation -->
  <section>
    <div class="container-fluid rectangle4 mt-0 mt-md-5">
      <div class="container-xxl">
        <div class="row justify-content-center  ">
          <div class="col-lg-3  d-flex align-items-lg-end pt-4">
            <div class="text-start text-lg-end  pt-md-5 pt-0 mt-md-3 mt-0">
              <div class="conversation mb-4 d-flex flex-row-reverse flex-lg-row">
                <div class="me-2">
                  <h4 class="text-white mb-0 pt-2"><b>Start conversation</b></h4>
                  <p class="textcolor ">Lorem ipsum dolor sit amet, con-
                    sectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut </p>
                </div>
                <img src="~/HayU/assets/img/icons/massages.webp" class="iconss1 me-lg-0 me-4" alt="">
              </div>
              <div class="freecall d-flex flex-row-reverse flex-lg-row">
                <div class="me-2">
                  <h4 class="text-white mb-0 pt-1 "><b>Make a free call</b></h4>
                  <p class="textcolor">Lorem ipsum dolor sit amet, con-
                    sectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut </p>
                </div>
                <img src="~/HayU/assets/img/icons/phone call.webp" class="iconss2 me-lg-0 me-4" alt="">
              </div>

            </div>
          </div>
          <div class="col-lg-3  mx-5 mt-lg-0 mt-5 pt-lg-0 pt-5">
            <div class="d-flex justify-content-center">
              <img src="~/HayU/assets/img/imgs/i_phone_7_silver_1_copy.webp" class="iphonex" alt="">
              <div class="overlay   position-absolute d-flex justify-content-center align-items-center ">
                <img src="~/HayU/assets/img/icons/play button.webp" alt="">
              </div>
            </div>
          </div>
          <div class="col-lg-3 pt-4">
            <div class="text-start pt-md-5 pt-0 mt-md-3 mt-0">
              <div class="conversation mb-4 d-flex">
                <img src="~/HayU/assets/img/icons/camera.webp" class="iconss3" alt="">
                <div class="ms-2 ">
                  <h4 class="text-white"><b>Take a picture</b></h4>
                  <p class="textcolor">Lorem ipsum dolor sit amet, con-
                    sectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut </p>
                </div>
              </div>
              <div class="freecall d-flex">
                <img src="~/HayU/assets/img/icons/video.webp" class="iconss4" alt="">
                <div class="ms-2">
                  <h4 class="text-white"><b>Send your video</b></h4>
                  <p class="textcolor">Lorem ipsum dolor sit amet, con-
                    sectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Start conversation End-->
  <!-- Subscribe to our newsletter -->
  <section>
    <div class="container-fluid d-flex justify-content-lg-center">
      <div class="Subscribenewsletter mt-md-5 mt-0 pt-md-5 pt-0">
        <h1 class="text-center mt-4"><b> Subscribe to our newsletter</b><span class="dotcolor"><b>.</b></span></h1>
        <p class="content1 mt-4 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna </p>
        <div class="d-flex justify-content-center mt-5 me-0">
          <input type="search" class="form-control emailsearch border-0 " name="" id="" aria-describedby="emailHelpId"
            placeholder="Your email adress">
          <button class="Subscribe   text-white border-0">Subscribe</button>
        </div>
      </div>
    </div>
  </section>
  <!-- Subscribe to our newsletter End-->
  <hr class="lin">
  <!-- Download the app -->
  <section> 
    <div class="container-fluid download">
      <div class=""></div>
      <div class=" d-flex justify-content-center">
        <a  class=""> <img src="~/HayU/assets/img/imgs/your_app_icon.webp" class="logoicon" alt=""></a>
      </div>
      <div class="">
      <h1 class="text-center"><b>Download the app</b><span class="dotcolor"><b>.</b></span></h1>
      <p class="content1 my-4 text-center ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod
        tempor incididunt ut labore et</p>
    </div>
    <div class="appstore d-flex justify-content-center">
      <img src="~/HayU/assets/img/imgs/appstore img.webp" alt="">
    </div>
  </div>
  </section>
  <!-- Download the app End-->
  <hr class="lin border-3">
  <!-- Footer -->
  <section>
    <footer>
      <div class="container-xxl ">
        <div class="row ">
          <div class="col-md-5   ">
            <div class="footernav d-flex justify-content-md-start justify-content-evenly flex-wrap  ">
              <a  class="ms-lg-5 ms-4 text-decoration-none text-dark text-center">
                <p>ABOUT</p>
              </a>
              <a  class="ms-lg-5 ms-4 text-decoration-none text-dark">
                <p>FAQ</p>
              </a>
              <a  class="ms-lg-5 ms-4 text-decoration-none text-dark">
                <p>SUPPORT</p>
              </a>
              <a  class="ms-lg-5 ms-4 text-decoration-none text-dark">
                <p>BLOG</p>
              </a>
              <a  class="ms-lg-5 ms-4 text-decoration-none text-dark">
                <p>DOWNLOAD</p>
              </a>
            </div>
          </div>
          <div class="col-md-7 pe-lg-5 pe-xxl-0 pe-3 d-flex justify-content-md-end justify-content-center ">
            <select class=" btnlanguage text-center border-0 " >
              <option class="dropdown-item" value="">ENGLISH</option>
              <option class="dropdown-item" value="">URDU</option>
              <option  class="dropdown-item" value="">ARABIC</option>
              <option class="dropdown-item" value="">FRANCH</option>
            </select>
          </div>
        </div>
      </div>
    </footer>
  </section>
  <!-- Footer End-->
  <script src="~/HayU/assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>